
* {
    list-style-type: none;
    text-decoration: none;
}

img {
    object-fit: cover;
}

button {
    border: 2px solid black;
    color: black;
    border-radius: 4px;
    padding: 8px;
}

button:hover {
    background-color: black;
    color: white;
}

.volumes img {
    display: inline-flex;
    height: 4rem;
}